%ul.reports.list-group
 %li.list-group-item
  %h3.list-group-item-heading= @team.name
  %ul.list-group
   %li.list-group-item
    .row
     .col-md-4.col-md-offset-2.team-heading= "Club"
     .col-md-6= @team.name
    .row
     .col-md-4.col-md-offset-2.team-heading= "League"
     - if @league == "unknown"
      .col-md-6= "- ? -"
     - else
      .col-md-6= link_to @league.name, league_url(@league)
    .row
     .col-md-4.col-md-offset-2.team-heading= "Country"
     .col-md-6= "#{@team[:country]}"
    .row 
     .col-md-4.col-md-offset-2.team-heading= "Stadium"
     .col-md-6= "#{@team[:stadium]}"
    .row
     - unless @competitions == "unknown"
      .col-md-4.col-md-offset-2.team-heading= "Competitions"
      .col-md-6= link_to @competitions.name, league_url(@competitions)
    .row
     .col-md-4.col-md-offset-2.team-heading= "Club Page"
     - tmpstr = @team[:home_page_url] =~ /^http/ ? "" : "http://"
     .col-md-6= link_to "#{@team[:home_page_url]}", "#{tmpstr}#{@team[:home_page_url]}"
    .row
     .col-md-4.col-md-offset-2.team-heading= "Wiki Link"
     - wiki_link = @team[:wiki_link] =~ /^http\:\/\/en.wikipedia.org\/wiki\/(.*)$/ ? $1 : "no link"
     .col-md-6= link_to wiki_link, @team[:wiki_link]
    .row
     .col-md-4.col-md-offset-2.team-heading= "XMLSoccer Id"
     .col-md-4= "#{@team[:team_id]}"
  = render partial: 'shared/fixture_results', locals: { fixtures: @fixturesX, title: "Results through round #{@round}" }
  = render partial: 'shared/remaining_fixtures', locals: { fixtures: @fixturesY, title: "Remaining Fixtures" }
  
     



