%ul.reports.list-group
 %li.list-group-item
  %h3.list-group-item-heading= @team.name
  %ul.list-group
   %li.list-group-item
    .row
     .col-md-4.col-md-offset-2.team-heading= "Club"
     .col-md-6= @team.name
    .row
     .col-md-4.col-md-offset-2.team-heading= "League"
     - if @league.nil? or @league == "unknown"
      .col-md-6= "- ? -"
     - else
      .col-md-6= link_to @league.name, league_url(@league)
    .row
     .col-md-4.col-md-offset-2.team-heading= "Country"
     .col-md-6= "#{@team[:country]}"
    .row 
     .col-md-4.col-md-offset-2.team-heading= "Stadium"
     .col-md-6= "#{@team[:stadium]}"
    - @competitions.each do |competition|
     .row
      .col-md-4.col-md-offset-2.team-heading= "Competition"
      .col-md-6= link_to competition.name, league_url(competition)
    .row
     .col-md-4.col-md-offset-2.team-heading= "Club Page"
     - tmpstr = @team[:home_page_url] =~ /^http/ ? "" : "http://"
     .col-md-6= link_to "#{@team[:home_page_url]}", "#{tmpstr}#{@team[:home_page_url]}"
    .row
     .col-md-4.col-md-offset-2.team-heading= "Wiki Link"
     - wiki_link = @team[:wiki_link] =~ /^http\:\/\/en.wikipedia.org\/wiki\/(.*)$/ ? $1 : "no link"
     .col-md-6= link_to wiki_link, @team[:wiki_link]
    .row
     .col-md-4.col-md-offset-2.team-heading= "XMLSoccer Id"
     .col-md-4= "#{@team[:team_id]}"
  - @fix_compX.each do |l_id, fixtures|
   = render partial: 'shared/fixture_results', locals: { fixtures: fixtures, title: "#{fixtures.first.league} results" }
  - if @fix_leagueX.size > 0
   = render partial: 'shared/fixture_results', locals: { fixtures: @fix_leagueX, title: "#{@team.league} results through round #{@round}" }
  - @fix_compY.each do |l_id, fixtures|
   = render partial: 'shared/remaining_fixtures', locals: { fixtures: fixtures, title: "#{fixtures.first.league} fixtures" }
  - if @fix_leagueY.size > 0
   = render partial: 'shared/remaining_fixtures', locals: { fixtures: @fix_leagueY, title: "#{@team.league} fixtures" }









