%h3.list-group-item-heading= title
%ul.list-group
 %li.list-group-item
  .row.list-group-item-heading
   .col-md-4.col-md-offset-2= "CLUB"
   .col-md-6= "STADIUM"
  - teams.each do |team|
   .row
    .col-md-4.col-md-offset-2
     = link_to "#{team[:name]}", team_url(Team.find_by(team_id: team[:team_id]))
    .col-md-6= "#{team[:stadium]}"