%ul.reports.list-group
 %li.list-group-item
  %h3.list-group-item-heading= "#{@league.name} - #{@league.country}"
  %ul.list-group
   %li.list-group-item
    .row.list-group-item-heading
     .col-md-4.col-md-offset-2= "CLUB"
     .col-md-6= "STADIUM"
    - @teams.each do |team|
     .row
      .col-md-4.col-md-offset-2
       = link_to "#{team[:name]}", team_url(Team.find_by(team_id: team[:team_id]))
      .col-md-6= "#{team[:stadium]}"
 %li.list-group-item
  %h3.list-group-item-heading= "League Standings"
  %ul.list-group
   %li.list-group-item
    .row.list-group-item-heading
     .col-md-4= "TEAM"
     .col-md-1.jmc-stat="P"
     .col-md-1.jmc-stat="W"
     .col-md-1.jmc-stat="D"
     .col-md-1.jmc-stat="L"
     .col-md-1="GF"
     .col-md-1="GA"
     .col-md-1="GD"
     .col-md-1="PTS"
    - @standings.each do |s|
     .row
      .col-md-4= link_to s[:team], team_url(Team.find_by(team_id: s[:team_id]))
      .col-md-1.jmc-stat= s[:played]
      .col-md-1.jmc-stat= s[:won]
      .col-md-1.jmc-stat= s[:draw]
      .col-md-1.jmc-stat= s[:lost]
      .col-md-1.jmc-stat= s[:goals_for]
      .col-md-1.jmc-stat= s[:goals_against]
      .col-md-1.jmc-stat= s[:goal_difference]
      .col-md-1.jmc-stat= s[:points]
  %h3.list-group-item-heading
   = "Latest match date: #{@league.latest_match_date.in_time_zone.strftime('%a %b %d, %Y at %H:%M')}"
 %li.list-group-item
  - (1..@latest_round).reverse_each do |round|
   = render partial: 'shared/fixture_results', locals: { fixtures: @fixturesX[round.to_s], title: "Round #{round} Results" }
 %li.list-group-item
  - (@start_round..@end_round).each do |round|
   = render partial: 'shared/remaining_fixtures', locals: { fixtures: @fixturesY[round.to_s], title: "Round #{round} Fixtures" }









      
