%ul.leagues.list-group
 %li.list-group-item
  %h3.list-group-item-heading= "#{@league.name} - #{@league.country}"
  - if ["15", "16", "17", "34", "35",].include?(@league.league_id.to_s)
   %ul.list-group
    - @group_names.each do |group_name|
     %li.list-group-item
      = render partial: 'group_teams', locals: { teams: @teamsX[group_name], title: "Group #{group_name }" }
      = render partial: 'standings', locals: { standings: @standingsX[group_name], title: 'Standings', }
      = render partial: 'shared/fixture_results', locals: { fixtures: @fixturesX[group_name], title: "Results" }
      = render partial: 'shared/remaining_fixtures', locals: { fixtures: @fixturesY[group_name], title: "Fixtures" }
  - elsif @league.league_id == 20
   %li.list-group-item
    - @group_names.each do |group_name|
     = render partial: 'league_teams', locals: { teams: @teamsX[group_name], title: "#{group_name} Conference" }
   %li.list-group-item
    - @group_names.each do |group_name|
     = render partial: 'standings', locals: { standings: @standingsX[group_name], title: "#{group_name } Conference Standings", }
   %li.list-group-item
    - @month_names.each do |month|
     = render partial: 'shared/fixture_results', locals: { fixtures: @fixturesX[month], title: "#{month} Results" }
   %li.list-group-item
    - @month_names.each do |month|
     - if @fixturesY[month]
      = render partial: 'shared/remaining_fixtures', locals: { fixtures: @fixturesY[month], title: "#{month} Fixtures" }
  - else
   %li.list-group-item
    = render partial: 'league_teams', locals: { teams: @teamsX['domestic_league'], title: '' }
   %li.list-group-item
    = render partial: 'standings', locals: { standings: @standingsX['domestic_league'], title: 'League Standings', }
    %h3.list-group-item-heading
     = "Latest match date: #{@league.latest_match_date.in_time_zone.strftime('%a %b %d, %Y at %H:%M')}"
   %li.list-group-item
    - (1..@latest_round).reverse_each do |round|
     = render partial: 'shared/fixture_results', locals: { fixtures: @fixturesX[round.to_s], title: "Round #{round} Results" }
   %li.list-group-item
    - (@start_round..@end_round).each do |round|
     = render partial: 'shared/remaining_fixtures', locals: { fixtures: @fixturesY[round.to_s], title: "Round #{round} Fixtures" }









      
