%ul.list-group
 %li.list-group-item
  %h3.list-group-item-heading= "FREE FANTASY FOOTBALL . INFO"
  %ul.list-group
   %li.list-group-item
    .row.list-group-item-heading
     .col-md-1= "ID"
     .col-md-1= "DAY"
     .col-md-1= "DATE/TIME"
     .col-md-1= "ROUND"
     .col-md-2= "LEAGUE"
     .col-md-2= "HOME TEAM"
     .col-md-2= "AWAY TEAM"
     .col-md-2= "LOCATION"
    - @fixtures.each do |fixture|
     .row
      .col-md-1= link_to fixture.match_id, fixture_url(fixture.id)
      - day = fixture.date.in_time_zone.strftime('%a')
      - mon = fixture.date.in_time_zone.strftime('%b')
      - date = fixture.date.in_time_zone.strftime('%d')
      - year = fixture.date.in_time_zone.strftime('%Y')
      - time = fixture.date.in_time_zone.strftime('%H:%M')
      .col-md-3
       .row
        .col-md-1.away-team= day
        .col-md-5.away-team= "#{mon} #{date}, #{year}"
        .col-md-2.home-team= time
        .col-md-2.away-team= fixture.round
      .col-md-2
       = link_to fixture.league, league_url(League.find_by(name: fixture.league))
      .col-md-2= link_to fixture.home_team, team_url(Team.find_by(team_id: fixture.home_team_id))
      .col-md-2= link_to fixture.away_team, team_url(Team.find_by(team_id: fixture.away_team_id))
      .col-md-2= fixture.location

