%ul.leagues.list-group
 %li.list-group-item
  %h3.list-group-item-heading= "FREE FANTASY FOOTBALL . INFO"
  %ul.list-group
   %li.list-group-item
    %h3.row.list-group-item-heading
     .col-md-6.col-md-offset-3.center= "Club Pages by Country"
    - while @countries.size % 4 > 0
     - @countries << { name: '', link: '' }
    - incr = @countries.length/4
    - (0..incr-1).each do |idx|
     .row
      .col-md-3= link_to @countries[idx][:name], @countries[idx][:link]
      .col-md-3= link_to @countries[idx+incr][:name], @countries[idx+incr][:link]
      .col-md-3= link_to @countries[idx+incr*2][:name], @countries[idx+incr*2][:link]
      .col-md-2= link_to @countries[idx+incr*3][:name], @countries[idx+incr*3][:link]
